* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  main {
    line-height: 2.5rem;
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
