* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  line-height: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgb(36, 36, 36);
  main {
    overflow-x: hidden;
    color: white;
    line-height: 2.5rem;
    h1 {
      font-size: 4.5rem;
      margin-bottom: 2rem;
      user-select: none;
    }
    p {
      font-size: 1.3rem;
    }
  }
}

@font-face {
  font-family: "FatFrank";
  src: url("styles/FatFrank.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 992px) {
  html {
    main {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  html {
    main {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 600px) {
  html {
    main {
      line-height: 2rem;
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 425px) {
  html {
    main {
      line-height: 1.7rem;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 0.65rem;
      }
    }
  }
}

@media (max-width: 375px) {
  html {
    main {
      line-height: 1.3rem;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 0.53rem;
      }
    }
  }
}
