.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  -webkit-box-shadow: 0px 0px 50px 5px #000000;
  box-shadow: 0px 0px 50px 5px #000000;

  .navbar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: end;
    height: 100%;
    width: 100%;

    .link {
      width: 100%;
      text-align: center;
      transition: all 0.4s ease-in-out;
      border-radius: 1rem;
      &:hover {
        background: #c8cf00;
        background: linear-gradient(to right, #c8cf00 30%, #cf0000 60%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
      }
    }

    .subline {
      width: 3rem; // più è alta la width e più la casella soprastante si allarga
      height: 4px;
      border-radius: 1rem;
      background-color: red;
      margin: auto;
      position: relative;
      top: -0.8rem;
      transition: all 0.5s ease-in-out;
      animation: open-transition 0.3s ease-in-out;

      &.link2 {
        background-color: rgb(255, 64, 0);
        transform: translateX(+ calc(100vw / 7));
      }

      &.link3 {
        background-color: rgb(255, 149, 0);
        transform: translateX(calc(100vw / 7) * 2);
      }
      &.link4 {
        background-color: yellow;
        transform: translateX(calc(100vw / 7) * 3);
      }
      &.link5 {
        background-color: rgb(255, 149, 0);
        transform: translateX(calc(100vw / 7) * 4);
      }
      &.link6 {
        background-color: rgb(255, 64, 0);
        transform: translateX(calc(100vw / 7) * 5);
      }
      &.link7 {
        background-color: red;
        transform: translateX(calc(100vw / 7) * 6);
      }
    }
  }
}

@keyframes open-transition {
  0% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(0);
  }
}
