.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  border-radius: 2rem 2rem 0 0;
  -webkit-box-shadow: 0px 0px 50px -6px #000000;
  box-shadow: 0px 0px 50px -6px #000000;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 59, 0, 1) 100%
  );

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .join {
    width: 9rem;
    height: 3.5rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 1.3rem;
    border: none;
    background-color: white;
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 72, 0, 1);
    background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 72, 0, 1) 50%,
      rgba(255, 0, 0, 1) 100%
    );

    &:hover {
      transform: translateY(-0.4rem);
      background-color: red;
    }
  }
}
