.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  border-radius: 2rem 2rem 0 0;
  -webkit-box-shadow: 0px 0px 17px -6px #000000;
  box-shadow: 0px 0px 17px -6px #000000;

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .join {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: white;
    transition: all 0.1s ease-in-out;

    &:hover {
      -webkit-box-shadow: 0px 0px 17px -6px #000000;
      box-shadow: 0px 0px 17px -6px #000000;
    }
  }
}
