.homepage {
  height: auto;
  background-color: rgb(36, 36, 36);
  .hero-wrapper {
    height: auto;
    animation: hero-entry 1s ease-in-out;

    .hero {
      height: 100vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0 0 7rem 7rem;
      -webkit-box-shadow: 0px 0px 50px -6px #000000;
      box-shadow: 0px 0px 50px -6px #000000;
      background: linear-gradient(
        180deg,
        rgba(255, 166, 0, 1) 30%,
        rgba(255, 59, 0, 1) 100%
      );

      .presentation {
        width: 50%;
        height: auto;
        margin-left: 2rem;
      }

      .parallax {
        margin: 2rem 3rem 0 0;
        z-index: 0;

        .parallax_nft1,
        .parallax_nft2,
        .parallax_nft3 {
          width: 14rem;
          aspect-ratio: 1/1;
          border: 1px solid green;
          position: relative;
          border-radius: 2rem;
          border: 2px solid black;
          overflow: hidden;
          -webkit-box-shadow: 0px 0px 50px -6px #000000;
          box-shadow: 0px 0px 50px -6px #000000;
          line-height: 0;

          img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            line-height: 0;
          }
        }

        .parallax_nft3 {
          z-index: -1;
        }
      }
    }
  }
  .stats-wrapper {
    width: 100vw;
    height: auto;
    margin-top: 10rem;
    .stats {
      width: 100vw;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .story-wrapper {
    margin: 10rem auto 0 auto;
    width: 85vw;
    height: auto;
    text-align: center;

    .story-title {
      position: relative;
      top: 4.5rem;
      z-index: 0;
      opacity: 0.2;
      color: white;
      scale: 1.6;
    }
    .story-subtitle {
      font-size: 2.5rem;
      position: relative;
      z-index: 1;
      background: #c8cf00;
      background: linear-gradient(to right, #c8cf00 45%, #cf0000 55%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after {
        content: "";
        width: 5rem;
        height: 0.3rem;
        border-radius: 1rem;
        background: orangered;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .story {
      margin-top: 5rem;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3rem;
      -webkit-box-shadow: 0px 0px 50px -6px #000000;
      box-shadow: 0px 0px 50px -6px #000000;
      padding: 2rem 0 2rem 0;

      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(218, 218, 218, 1) 50%,
        rgba(199, 199, 199, 1) 100%
      );
      color: black;

      .nft-hover-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 45%;
        border-radius: 2rem 0 0 2rem;

        .nft-hover1,
        .nft-hover2 {
          width: 13rem;
          aspect-ratio: 1/1;
          border: 3px solid black;
          position: relative;
          border-radius: 2rem;
          transition: all 0.2s ease-in-out;
          overflow: hidden;
          -webkit-box-shadow: 0px 0px 30px -6px #000000;
          box-shadow: 0px 0px 30px -6px #000000;
        }

        .nft-hover1 {
          transform: rotate(-20deg);
          top: 1rem;
          left: 0.5rem;

          &:hover {
            scale: 1.1;
            z-index: 3;
            transform: rotate(-25deg);
          }
        }

        .nft-hover2 {
          left: 0;
          top: -1rem;
          transform: rotate(4deg);

          &:hover {
            scale: 1.1;
            z-index: 3;
            transform: rotate(10deg);
          }
        }
      }

      .story-description {
        height: 100%;
        width: 55%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: right;
        border-radius: 0 2rem 2rem 0;

        h1,
        p {
          margin: 0 3rem 0 2rem;
        }

        h1 {
          text-align: center;
          margin-bottom: 3rem;
          font-size: 3.5rem;
        }
        p {
          margin-left: 3rem;
        }
      }
    }
  }

  .marquee-wrapper {
    margin-top: 10rem;

    .marquee-title {
      position: relative;
      top: 4.5rem;
      z-index: 0;
      opacity: 0.2;
      scale: 1.6;
      text-align: center;
    }
    .marquee-subtitle {
      font-size: 2.5rem;
      text-align: center;
      position: relative;
      z-index: 1;
      background: #c8cf00;
      background: linear-gradient(to right, #c8cf00 43%, #cf0000 53%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after {
        content: "";
        width: 7rem;
        height: 0.3rem;
        border-radius: 1rem;
        background: orangered;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }
    }
    .marquee-background {
      margin-top: 5rem;
      background-color: rgb(0, 0, 0, 0.7);
      -webkit-box-shadow: 0px 0px 70px -6px #000000;
      box-shadow: 0px 0px 70px -6px #000000;

      .marquee {
        padding-bottom: 1rem;
        padding-top: 1rem;

        .marquee-container {
          height: 27vh;
          overflow-x: visible !important;

          img {
            margin: 0 1rem 0 1rem;
            border-radius: 1rem;
          }
        }
      }
    }
  }

  .road-map-wrapper {
    margin: 10rem auto 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    .roadmap-title {
      position: relative;
      top: 4.5rem;
      z-index: 0;
      opacity: 0.2;
      scale: 1.6;
    }
    .roadmap-subtitle {
      font-size: 2.5rem;
      position: relative;
      z-index: 1;
      background: #c8cf00;
      background: linear-gradient(to right, #c8cf00 0%, #cf0000 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after {
        content: "";
        width: 7rem;
        height: 0.3rem;
        border-radius: 1rem;
        background: orangered;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .road-map {
      margin-top: 5rem;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .step {
        width: 70%;
        height: 10vh;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -webkit-box-shadow: 0px 0px 50px -6px #000000;
        box-shadow: 0px 0px 50px -6px #000000;
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 1) 0%,
          rgba(218, 218, 218, 1) 50%,
          rgba(199, 199, 199, 1) 100%
        );
        color: black;

        .percentage {
          border-right: 1px solid rgb(211, 210, 210);
          padding: 0 2rem 0 2rem;

          &.last {
            padding-right: 1.35rem; // come posso centrarlo bene senza farlo a mano?
          }
        }

        .description {
          padding-right: 2rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .faq-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    margin: 10rem auto 0 auto;
    padding-bottom: 10rem;

    .faq-title {
      position: relative;
      width: 100%;
      text-align: center;
      top: 4.5rem;
      z-index: 0;
      opacity: 0.2;
      scale: 1.6;
    }
    .faq-subtitle {
      font-size: 2rem;
      position: relative;
      z-index: 1;
      width: 100%;
      text-align: center;
      background: #c8cf00;
      background: linear-gradient(to right, #c8cf00 0%, #cf0000 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after {
        content: "";
        width: 10rem;
        height: 0.3rem;
        border-radius: 1rem;
        background: orangered;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .faq {
      height: auto;
      width: auto;
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s ease-in-out;

      .question-box {
        width: 80%;
        height: 2.6rem;
        overflow-y: hidden;
        transition: all 0.3s ease-in-out;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 50px -6px #000000;
        box-shadow: 0px 0px 50px -6px #000000;
        margin-bottom: 1rem;
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 1) 0%,
          rgba(218, 218, 218, 1) 50%,
          rgba(199, 199, 199, 1) 100%
        );
        color: black;

        &:hover {
          scale: 1.02;
        }

        p {
          padding: 0 1rem 1rem 1rem;

          svg {
            position: relative;
            top: 0.1rem;
            margin-right: 1rem;
            font-size: 1.2rem;
            transition: all 0.5s ease-in-out;
          }
        }

        &.active {
          height: 38vh;
          p {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}

@keyframes hero-entry {
  0% {
    transform: translateY(-8rem);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .homepage {
    .hero-wrapper {
      .hero {
        .parallax {
          margin-right: 1rem;
          .parallax_nft1,
          .parallax_nft2,
          .parallax_nft3 {
            width: 12rem;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .homepage {
    .hero-wrapper {
      .hero {
        .parallax {
          margin-right: -1rem;
          .parallax_nft1,
          .parallax_nft2,
          .parallax_nft3 {
            width: 10rem;
          }
        }
      }
    }
    .story-wrapper {
      .story {
        .nft-hover-container {
          .nft-hover1,
          .nft-hover2 {
            width: 11rem;
          }
          .nft-hover2 {
            left: 1rem;
          }
        }
        .story-description {
          h1 {
            font-size: 2.5rem;
          }
        }
      }
    }
    .faq-wrapper {
      .faq {
        .question-box {
          &.active {
            height: 40vh;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .homepage {
    .hero-wrapper {
      .hero {
        .parallax {
          margin-right: -1rem;
          .parallax_nft1,
          .parallax_nft2,
          .parallax_nft3 {
            width: 8rem;
          }
          .parallax_nft2 {
            left: 4rem;
          }
          .parallax_nft3 {
            top: 2rem;
          }
        }
      }
    }
    .story-wrapper {
      .story {
        padding: 4rem 0 4rem 0;
        p {
          font-size: 1.2rem;
        }
        .nft-hover-container {
          display: none;
        }
        .story-description {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .homepage {
    .hero-wrapper {
      .hero {
        .parallax {
          margin-right: -3rem;
          position: relative;
          top: -4.5rem;
          .parallax_nft1,
          .parallax_nft2,
          .parallax_nft3 {
            width: 6.5rem;
          }
          .parallax_nft2 {
            left: 4rem;
          }
          .parallax_nft3 {
            top: 4rem;
          }
        }
      }
    }
    .marquee-wrapper {
      .marquee-background {
        .marquee {
          .marquee-container {
            height: 23vh;
          }
        }
      }
    }
    .faq-wrapper {
      .faq {
        .question-box {
          &.active {
            height: 30vh;
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .homepage {
    .hero-wrapper {
      .hero {
        border-radius: 0 0 4.5rem 4.5rem;
        p {
          font-size: 0.8rem;
        }
        .parallax {
          margin-right: -3rem;
          position: relative;
          top: -4.5rem;
          .parallax_nft1,
          .parallax_nft2,
          .parallax_nft3 {
            width: 5rem;
          }
          .parallax_nft1 {
            left: 3rem;
          }
          .parallax_nft2 {
            left: 10rem;
          }
          .parallax_nft3 {
            top: 7rem;
          }
        }
      }
    }
    .story-wrapper {
      .story-title {
        font-size: 2rem;
        top: 3.8rem;
      }
      .story-subtitle {
        font-size: 1rem;

        &::after {
          top: 1.3rem;
          height: 0.1rem;
          width: 4rem;
        }
      }
      .story {
        padding: 3rem 0 3rem 0;
        p {
          font-size: 1rem;
        }
        .nft-hover-container {
          display: none;
        }
        .story-description {
          h1 {
            font-size: 2rem;
          }
          width: 100%;
        }
      }
    }

    .marquee-wrapper {
      .marquee-title {
        font-size: 2rem;
        top: 3.8rem;
      }
      .marquee-subtitle {
        font-size: 1rem;

        &::after {
          top: 1.3rem;
          height: 0.1rem;
          width: 3rem;
        }
      }
    }

    .road-map-wrapper {
      .roadmap-title {
        font-size: 2rem;
        top: 3.8rem;
      }
      .roadmap-subtitle {
        font-size: 1rem;

        &::after {
          top: -0.4rem;
          height: 0.1rem;
          width: 4rem;
        }
      }
    }
    .faq-wrapper {
      .faq-title {
        font-size: 2rem;
        top: 3.8rem;
      }
      .faq-subtitle {
        font-size: 1rem;

        &::after {
          top: -0.4rem;
          height: 0.1rem;
          width: 4rem;
        }
      }
      .faq {
        .question-box {
          height: 1.7rem;
          &.active {
            height: 30vh;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .homepage {
    .hero-wrapper {
      .hero {
        border-radius: 0 0 4rem 4rem;
        p {
          font-size: 0.6rem;
        }
        .presentation {
          margin-left: 1rem;
        }
        .parallax {
          margin-right: -3rem;
          position: relative;
          top: -4.5rem;

          .parallax_nft1,
          .parallax_nft2,
          .parallax_nft3 {
            width: 4.8rem;
          }
          .parallax_nft1 {
            left: 3rem;
          }
          .parallax_nft2 {
            left: 10rem;
          }
          .parallax_nft3 {
            top: 8.5rem;
          }
        }
      }
    }
    .story-wrapper {
      .story-title {
        font-size: 2rem;
        top: 3.5rem;
      }
      .story-subtitle {
        font-size: 1rem;

        &::after {
          top: 1.2rem;
          height: 0.1rem;
          width: 4rem;
        }
      }
      .story {
        padding: 2rem 0 2rem 0;
        p {
          font-size: 1rem;
        }
        .nft-hover-container {
          display: none;
        }
        .story-description {
          line-height: 1.5rem;
          h1 {
            font-size: 1.8rem;
          }
          width: 100%;
        }
      }
    }
    .marquee-wrapper {
      .marquee-title {
        font-size: 2rem;
        top: 3.5rem;
      }
      .marquee-subtitle {
        font-size: 1rem;

        &::after {
          top: 1.2rem;
          height: 0.1rem;
          width: 3rem;
        }
      }
      .marquee-background {
        .marquee {
          padding: 0.8rem 0 0.8rem 0;
          .marquee-container {
            height: 21vh;
            img {
              margin: 0 0.3rem 0 0.3rem;
            }
          }
        }
      }
    }
    .road-map-wrapper {
      .roadmap-title {
        font-size: 2rem;
        top: 3.4rem;
      }
      .roadmap-subtitle {
        font-size: 1rem;

        &::after {
          top: -0.2rem;
          height: 0.1rem;
          width: 4rem;
        }
      }
      .road-map {
        .step {
          height: 2.5rem;
          .percentage {
            padding: 0 1rem 0 1rem;
          }
        }
      }
    }
    .faq-wrapper {
      .faq-title {
        font-size: 2rem;
        top: 3.4rem;
      }
      .faq-subtitle {
        font-size: 1rem;

        &::after {
          top: -0.2rem;
          height: 0.1rem;
          width: 8rem;
        }
      }
      .faq {
        .question-box {
          height: 1.5rem;
          &.active {
            height: 30vh;
          }
          p {
            svg {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
